/*begin general*/
body {
  font-family: Karla, sans-serif;
}

#contactsubtitle {
  text-align: center;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

.background {
  background-color: #f6fafc;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 24px;
}

h3 {
  font-size: 30px;
  line-height: 40px;
}

h4 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
}

#aboutcontent a {
  color: black;
}

#work a {
  text-decoration: none;
}
/*end general*/

/*begin introduction*/
#introduction {
  font-size: 30px;
  padding: 170px 100px 100px 100px;
  background-color: #f6fafc;
}
/*end introduction*/

/*begin work*/

#magazine {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 100px;
}

#festival {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin: 100px;
  align-items: center;
}

#buds {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin: 100px;
  align-items: center;
}


#spotify {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin: 100px;
  align-items: center;
}

img {
  max-width: 500px;
}

.left-text {
  padding: 0px 30px 0px 30px;
}

.right-text {
  padding: 0px 30px 0px 30px;
}
/*end work*/

/*begin about*/

#about-me {
  background-color: #f6fafc;
  padding-top: 100px;
  padding-bottom: 100px;
}

#abouttitle {
  display: flex;
  justify-content: center;
}

#aboutcontent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 100px 50px 100px;
  align-items: center;
  flex-direction: row;
}

#aboutcontent img {
  max-width: 300px;
}

#aboutcontent p {
  max-width: 700px;
}

/*end about*/

/*begin contact*/

#contacttitle {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

#contactsubtitle {
  display: flex;
  justify-content: center;
}

#contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
  flex-wrap: wrap;
}

.icon {
  width: 200px;
  margin-bottom: 50px;
}

#linkedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#email {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#contact-me a {
  text-decoration: none;
  color: black;
}

#contact-me img {
  padding-bottom: 20px;
}
/*end contact*/

/*start footer*/

#footer {
  background-color: #f6fafc;
  padding: 20px 10px 10px 10px;
}

#footericons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#footericons img {
  padding-left: 10px;
  padding-right: 10px;
}

#footertext {
  display: flex;
  justify-content: center;
}

#footer p {
  font-size: 16px;
}

/*end footer */

#nav {
  background-color: #f6fafc;
  padding-top: 20px;
  padding-left: 80px;
  margin-right: 180px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s;
  font-size: 18px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #f6fafc;
  color: 000000;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #d3d3d3;
  text-decoration: underline;
}

.header .logo {
  display: block;
  float: left;
  font-size: 18px;
  padding: 20px 20px;
  text-decoration: none;
  color: #000000;
}

em {
  font-weight: bolder;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin-right: 180px;
  color: #000000;
}

/* menu icon */

.header .menu-icon {
  margin-right: 180px;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


@media screen and (max-width: 768px) {

  #introduction {
    padding: 170px 150px 100px 20px;
  }

  #magazine {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px 20px 100px 20px;
  }
  
  #festival {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    margin: 100px 20px 100px 20px;
    align-items: center;
  }

  #buds {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    margin: 100px 20px 100px 20px;
    align-items: center;
  }
  
  #spotify {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 100px 20px 100px 20px;
    align-items: center;
  }
  
  #work img {
    width: 100%;
    max-width: 400px;
   /* margin-right: 20px;
    margin-left: 20px; */
  }

  #aboutcontent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px 50px 20px;
    align-items: center;
  }
  
  #aboutcontent img {
    max-width: 250px;
  }
  
  #aboutcontent p {
    max-width: 600px;
    padding-top: 50px;
  }

  #nav {
    background-color: #f6fafc;
    padding-top: 20px;
    padding-left: 0px;
    margin-right: 200px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.5s;
    font-size: 18px;
  }

  .header .menu-icon {
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 0px;
    position: relative;
    user-select: none;
  }
  
  #introduction h3 {
    font-size: 24px;
  }

  #work h2 {
    font-size: 24px;
    padding-top: 20px;
  }

  #work p {
    font-size: 16px;
  }

  #work h4 {
    font-size: 16px;
  }

  

}

@media (min-width: 768px) and (max-width: 1214px) {
  #aboutcontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 20px 50px 20px;
    align-items: center;
  }
  
  #aboutcontent img {
    max-width: 250px;
  }
  
  #aboutcontent p {
    max-width: 600px;
    padding-top: 50px;
  }

  #magazine {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px 20px 100px 20px;
  }
  
  #festival {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 100px 20px 100px 20px;
    align-items: center;
  }
  
  #spotify {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 100px 20px 100px 20px;
    align-items: center;
  }
  

}
